<div id="main" class="main">
    <section class="section listing_page accounts">
        <div class="row">
            <div class="col-xl-12">
                <h2 class="userscreen-title">account statement</h2>

                <div class="form_search">
                    <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-2 col-6">
                                <select formControlName="eventType" class="form-control">
                                    <option value="ALL">All Sports </option>
                                    <option value="4">Cricket </option>
                                    <option value="1">Football </option>
                                    <option value="2">Tennis </option>
                                    <option value="99998">Int Casino </option>
                                    <option value="99991">Sports book </option>
                                    <option value="7">Horse Racing </option>
                                    <option value="4339">Greyhound Racing </option>
                                    <option value="99990">Binary </option>
                                    <option value="99994">Kabaddi </option>
                                    <option value="2378961">Politics </option>
                                    <option value="7522">Basketball </option>
                                    <option value="7511">Baseball </option>
                                    <option value="20">Table Tennis </option>
                                    <option value="998917">Volleyball </option>
                                    <option value="7524">Ice Hockey </option>
                                    <option value="5">Rugby </option>
                                    <option value="26420387">Mixed Martial Arts </option>
                                    <option value="3503">Darts </option>
                                    <option value="29">Futsal </option>
                                </select>
                            </div>
                            <div class="col-md-2 col-6">
                                <input type="date" class="form-control" formControlName="start_date" />
                            </div>
                            <div class="col-md-2 col-6">
                                <input type="date" class="form-control" formControlName="end_date" />
                            </div>
                            <div class="col-md-2 col-6">
                                <button type="submit" class="btn btn-fs mt-0">Get Statement</button>
                            </div>
                            <div class="col-md-2 col-6">
                                <button type="button" class="btn btn-secondary" (click)="clearFilters()">Reset</button>
                            </div>
                            <div class="col-md-4 col-12 text-md-end text-center">
                                <div class="document_button"></div>
                            </div>
                        </div>
                    </form>  
                </div>

                <div class="table-responsive">
                    <table class="datatable table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Balance</th>
                                <th>D/C</th>
                                <th>Description</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="statements.length === 0">
                                <td colspan="10" class="noData text-center">No Data Found</td>
                            </tr>
                            <tr *ngFor="let stmt of statements; let i = index">
                                <td>{{ (currentPage - 1) * pageSize + i + 1 }}</td>
                                <td>{{ stmt.date | date: 'dd/MM/yyyy' }}</td>
                                <td>{{ stmt.total }}</td>
                                <td>{{ stmt.balance }}</td>
                                <td>{{ stmt.dc }}</td>
                                <td>{{ stmt.description }}</td>
                                <td>{{ stmt.details }}</td>
                            </tr>
                        </tbody>
                    </table>
                
                    <div class="pagination pt-2">
                        <nav aria-label="pagination example" class="Pager1">
                            <ul class="pagination pagination-circle justify-content-center">
                                <li class="page-item" [class.disabled]="currentPage === 1">
                                    <a class="page-link" href="javascript:void(0)" (click)="prevPage()">Previous Page</a>
                                </li>
                                <li class="page-item" [class.disabled]="currentPage * pageSize >= totalItems">
                                    <a class="page-link" href="javascript:void(0)" (click)="nextPage()">Next Page</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
