<nav class="footer_mobilemenu d-lg-none d-flex justify-content-around fixed-bottom border-top py-2">
    <a routerLink="#" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="text-center text-decoration-none">
        <img src="assets/in-play.svg" class="img-fluid" />
        <span class="d-block small">In-Play</span>
    </a>

    <a routerLink="/dashboard" routerLinkActive="active" class="text-center text-decoration-none">
        <img src="assets/place.svg" class="img-fluid" />
        <span class="d-block small">Home</span>
    </a>

    <a routerLink="/account-statement" routerLinkActive="active" class="text-center text-decoration-none">
        <img src="assets/statement.svg" class="img-fluid" />
        <span class="d-block small">Statement</span>
    </a>

    <a routerLink="/profile" routerLinkActive="active" class="text-center text-decoration-none">
        <img src="assets/profile_image.png" class="img-fluid" />
        <span class="d-block small">Profile</span>
    </a>
</nav>
